h1 {
    background-color: rgb(87, 149, 210);
    padding: 2rem;
    font-family:'Segoe UI';
    font-size: 40px;
    text-align: center;
    margin: 3rem auto;
    width: 90%;
    max-width: 30rem;
    border-radius: 10px;
    color: #fff;
}

#vue-event {
    border-radius: 10px;
    box-shadow: 5px 10px 20px #ccc;
    text-align: center;
    width: 90%;
    max-width: 30rem;
    padding: 2rem;
    margin: 3rem auto;
}

h2 {
    color: rgb(87, 149, 210);
    border-bottom: 1px solid rgb(69, 67, 67);
    padding: 1.25rem;
}
button {
    color: #fff;
    background-color: rgb(87, 149, 210);
    border: 1px solid #000;
    box-shadow: #fff;
    border-radius: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 10px;
    width: 60px;
    padding: 0.5rem;
}
p {
    background-color: rgb(87, 149, 210);;
    border-radius: 10px;
    color: #fff;
    font-size: 30px;
    font-weight: 100;
    margin: 1rem auto;
    box-shadow: 1px 1px 1px #888;
}