<!DOCTYPE html>
<html>
    <link rel="shortcut icon" href="/image/cam-tu-cau-da-lat.jpg" type="image/x-icon">
    <head>
        {{>header}}
        <h1>This page about</h1>
    </head>
    <body>
        <img src="/image/cam-tu-cau-da-lat.jpg" alt="hoa" style="width: 180px; height :200px ;">
    </body>
    <footer>
        {{>footer}}
    </footer>
</html>