<!DOCTYPE html>

<html>
    <head>
        <link rel="icon" href="/image/cam-tu-cau-da-lat.jpg">
    </head>
    <body>
        {{>header}}
        <h1>This page help</h1>
    </body>
    <footer>
        {{>footer}}
    </footer>
</html>