<!DOCTYPE html>
<html>
    <link rel="shortcut icon" href="/image/cam-tu-cau-da-lat.jpg" type="image/x-icon">
    <head>
        <link rel="shortcut icon" href="/image/cam-tu-cau-da-lat.jpg" type="image/x-icon">
        <h1 style="font: size 30px ; color: royalblue; text-align: center ;">404 Not Found</h1>
    </head>
    <body>
        
    </body>
    <footer>

    </footer>
</html>