#title-web  {
  font-family: 'Open Sans';
  color: #fff;
  text-align: center;
  background-color: #4fc08d;
  border-radius: 10px;
  box-shadow: rgb(211, 203, 203);
  padding: 1rem;
  max-width: 40rem;
  width: 90%;
  margin: 3rem auto;
}
#user-goals {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 3em auto;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  width: 90%;
  max-width: 40rem;

}
#user-goals h1 {
  font-size: 2rem;
  border-bottom: 4px solid #ccc;
  margin: 0 0 1rem 0;
  color: #4fc08d;
}
#user-goals p{
  font-size: 1.25rem;
  font-weight: bold;
  border: 1px solid #4fc08d;
  background-color: #4fc08d;
  color: #fff;
  padding: 0.5rem;
  border-radius: 25px;
}